In [ ]:
import pandas as pd

# The raw URL for your specific CSV file
url = 'https://raw.githubusercontent.com/mhmdparichehreh/basketball-scores/main/data/scores.csv'

# Read the CSV
df = pd.read_csv(url)

# Display the first 5 rows
df.head()

,ID,date,gender,team1q1,team2q1,team1q2,team2q2,team1q3,team2q3,team1q4,team2q4,team1tot,team2tot
0,1,09/12/2025,M,15,11,12,19,28,20,28,12,83,62
1,2,09/12/2025,F,20,12,13,17,16,19,10,10,59,58
2,3,10/12/2025,M,28,22,18,21,14,12,22,27,82,82
3,4,10/12/2025,F,19,10,18,17,24,26,18,18,79,71
4,5,10/12/2025,M,10,25,13,22,15,20,17,30,55,97

In [ ]:
df

,ID,date,gender,team1q1,team2q1,team1q2,team2q2,team1q3,team2q3,team1q4,team2q4,team1tot,team2tot
0,1,09/12/2025,M,15,11,12,19,28,20,28,12,83,62
1,2,09/12/2025,F,20,12,13,17,16,19,10,10,59,58
2,3,10/12/2025,M,28,22,18,21,14,12,22,27,82,82
3,4,10/12/2025,F,19,10,18,17,24,26,18,18,79,71
4,5,10/12/2025,M,10,25,13,22,15,20,17,30,55,97
5,6,10/12/2025,F,17,14,7,14,22,18,24,8,70,54
6,7,10/12/2025,M,24,16,21,26,25,14,23,19,93,75
7,8,10/12/2025,F,17,13,20,20,17,18,16,9,70,60
8,9,10/12/2025,F,17,23,18,21,19,26,20,24,74,94
9,10,10/12/2025,M,20,17,19,37,22,13,28,15,89,82
10,11,10/12/2025,M,22,20,17,18,17,24,28,10,84,72
11,12,10/12/2025,M,9,30,24,25,14,20,22,25,69,100
12,13,10/12/2025,M,26,15,32,24,17,23,25,21,100,83
13,14,10/12/2025,M,8,29,21,13,14,11,9,19,52,72
14,15,10/12/2025,F,12,17,12,27,9,12,8,10,41,66
15,16,10/12/2025,M,17,16,20,12,19,17,14,19,70,64
16,17,10/12/2025,M,21,18,14,17,22,13,16,17,73,65
17,18,10/12/2025,M,19,23,21,20,19,20,29,19,88,82
18,19,10/12/2025,F,10,18,13,13,21,13,12,12,56,56
19,20,10/12/2025,M,16,16,18,18,26,16,26,22,86,72
20,21,10/12/2025,M,23,11,24,18,21,20,17,16,85,65
21,22,10/12/2025,F,16,29,22,28,19,25,16,20,73,102
22,23,10/12/2025,F,14,14,23,21,9,20,11,22,57,77
23,24,10/12/2025,F,19,13,19,16,29,7,19,11,86,47
24,25,10/12/2025,F,14,22,14,28,12,36,13,28,53,114
25,26,10/12/2025,M,24,23,18,10,16,18,20,21,78,72
26,27,10/12/2025,M,26,20,15,28,24,15,21,15,86,78
27,28,10/12/2025,M,26,17,11,17,16,19,16,16,69,69
28,29,25/01/2026,M,21,16,23,28,31,19,33,23,108,86

In [ ]:
### all the matches: q1,q2,q3/3 > q4
df.iloc[:,9:11].sum(axis=1)
hypo1 = (df.iloc[:,3:9].sum(axis=1)/3) > df.iloc[:,9:11].sum(axis=1)
l1 = hypo1.sum()
print(l1, len(hypo1))

16 29

In [ ]:
### Female matches: q1,q2,q3/3 > q4
df_female = df[df['gender'] == 'F']
df_female.iloc[:,9:11].sum(axis=1)
hypo1 = (df_female.iloc[:,3:9].sum(axis=1)/3) > df_female.iloc[:,9:11].sum(axis=1)
l1 = hypo1.sum()
print(l1, len(hypo1))

9 11