In [1]:
import pandas as pd

# The raw URL for your specific CSV file
url = 'https://raw.githubusercontent.com/mhmdparichehreh/basketball-scores/main/data/scores.csv'

# Read the CSV
df = pd.read_csv(url)

# Display the first 5 rows
df.head()

,ID,date,gender,team1q1,team2q1,team1q2,team2q2,team1q3,team2q3,team1q4,team2q4,team1tot,team2tot,type
0,1,09/12/2025,M,15,11,12,19,28,20,28,12,83,62,NaN
1,2,09/12/2025,F,20,12,13,17,16,19,10,10,59,58,NaN
2,3,10/12/2025,M,28,22,18,21,14,12,22,27,82,82,NaN
3,4,10/12/2025,F,19,10,18,17,24,26,18,18,79,71,NaN
4,5,10/12/2025,M,10,25,13,22,15,20,17,30,55,97,NaN

In [2]:
df

,ID,date,gender,team1q1,team2q1,team1q2,team2q2,team1q3,team2q3,team1q4,team2q4,team1tot,team2tot,type
0,1,09/12/2025,M,15,11,12,19,28,20,28,12,83,62,NaN
1,2,09/12/2025,F,20,12,13,17,16,19,10,10,59,58,NaN
2,3,10/12/2025,M,28,22,18,21,14,12,22,27,82,82,NaN
3,4,10/12/2025,F,19,10,18,17,24,26,18,18,79,71,NaN
4,5,10/12/2025,M,10,25,13,22,15,20,17,30,55,97,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,130,25/01/2026,M,24,24,16,13,5,17,25,26,70,80,???????
129,131,25/01/2026,M,21,12,27,14,25,14,18,20,91,60,???????
130,132,25/01/2026,F,30,18,28,15,27,13,18,20,103,66,???????
131,133,25/01/2026,M,18,24,19,13,18,19,14,17,69,73,???????
132,134,25/01/2026,M,20,24,17,24,25,21,30,19,92,88,???????

In [3]:
### all the matches: (q1+q2+q3)/3 > q4
hypo1 = (df.iloc[:,3:9].sum(axis=1)/3) > df.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l1 = hypo1.sum()    # sum of true hypothesis
print("1st hypothesis: ", l1, "; Total matches: ", len(hypo1))   # comparison of true hypothesis w/ total matches

1st hypothesis:  63 ; Total matches:  133

In [4]:
### women's matches: (q1+q2+q3)/3 > q4
df_female = df[df['gender'] == 'F']     #selecting women's mathches
hypo2 = (df_female.iloc[:,3:9].sum(axis=1)/3)+3 > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l2 = hypo2.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l2, "; Total women's matches: ", len(hypo2))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  37 ; Total women's matches:  43

In [5]:
### women's matches: q1,q2,q3/3 > q4, for the matches having a total score less than 130
df_under = df[df.iloc[:,3:9].sum(axis=1) < 130]   #selecting total of q1+q2+q3 <130
df_female = df_under[df_under['gender'] == 'F']     #selecting women's mathches
hypo3 = (df_female.iloc[:,3:9].sum(axis=1)/3) > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l3 = hypo3.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l3, "; Total women's matches: ", len(hypo3))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  27 ; Total women's matches:  38

In [6]:
### women's matches: q1,q2,q3/3 > q4, for the matches having total score difference between two teams between 10 and 50 at the end of quarter3
df_between = df[((df.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(10,50)]
df_female = df_between[df_between['gender'] == 'F']     #selecting women's mathches
hypo4 = (df_female.iloc[:,3:9].sum(axis=1)/3)+2 > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l4 = hypo4.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l4, "; Total women's matches: ", len(hypo4))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  22 ; Total women's matches:  25

In [7]:
### women's matches: q1,q2,q3/3 > q4, for the matches having a total score less than 130, and total score difference between two teams between 9 and 50 at the end of quarter 3.
df_between = df[((df.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(10,50)]
df_under = df_between[df_between.iloc[:,3:9].sum(axis=1) < 120]   #selecting total of q1+q2+q3 <130
df_female = df_under[df_under['gender'] == 'F']     #selecting women's mathches
hypo5 = (df_female.iloc[:,3:9].sum(axis=1)/3)+2 > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l5 = hypo5.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l5, "; Total women's matches: ", len(hypo5))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  13 ; Total women's matches:  15

In [8]:
### women's matches: quarter1<x
df_female = df[df['gender'] == 'F']     #selecting women's mathches
hypo6 = ((df_female.loc[:,['team1q1', 'team2q1']].sum(axis=1))<46).sum()   # number of matches w/ total score in quarter1 less than 46
print("2nd hypothesis: ", hypo6, "; Total women's matches: ", len(df_female), ", in percent: ", hypo6/len(df_female))   # comparison of true hypo of tot sc q1 less than 46 w/ total number of women's matches

2nd hypothesis:  36 ; Total women's matches:  43 , in percent:  0.8372093023255814

Now we go for greater than (total is greater than)

In [49]:
### all the matches: (q1+q2+q3)/3 < q4
hypo7 = (df.iloc[:,3:9].sum(axis=1)/3)-1 < df.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l1 = hypo7.sum()    # sum of true hypothesis
print("1st hypothesis: ", l1, ", Total matches: ", len(hypo7), ", in percent: ", l1/len(hypo7))   # comparison of true hypothesis w/ total matches

1st hypothesis:  74 , Total matches:  133 , in percent:  0.556390977443609

In [46]:
### Men's matches: (q1+q2+q3)/3 < q4
df_male = df[df['gender'] == 'M']     #selecting men's mathches
hypo8 = (df_male.iloc[:,3:9].sum(axis=1)/3)-1 < df_male.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l8 = hypo8.sum()    # sum of true hypothesis
print("1st hypothesis: ", l8, ", Total matches: ", len(hypo8), ", in percent: ", l8/len(hypo8))   # comparison of true hypothesis w/ total matches

1st hypothesis:  61 , Total matches:  90 , in percent:  0.6777777777777778

In [62]:
### Men's matches: (q1+q2+q3)/3 < q4, for the matches having total score difference between two teams between 0 and 10 at the end of quarter3
df_male = df[df['gender'] == 'M']     #selecting men's mathches
df_between = df_male[((df_male.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df_male.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(0,9)]
hypo9 = (df_between.iloc[:,3:9].sum(axis=1)/3) < df_between.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l9 = hypo9.sum()    # sum of true hypothesis
print("1st hypothesis: ", l9, ", Total matches: ", len(hypo9), ", in percent: ", l9/len(hypo9))   # comparison of true hypothesis w/ total matches

1st hypothesis:  32 , Total matches:  54 , in percent:  0.5925925925925926

In [84]:
### Men's matches: (q1+q2+q3)/3 < q4, for the matches having a total score greater than 140
df_male = df[df['gender'] == 'M']     #selecting men's mathches
df_greater = df_male[df_male.iloc[:,3:9].sum(axis=1) > 139]   #selecting total of q1+q2+q3 > 140
hypo9 = (df_greater.iloc[:,3:9].sum(axis=1)/3) < df_greater.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l9 = hypo9.sum()    # sum of true hypothesis
print("1st hypothesis: ", l9, ", Total matches: ", len(hypo9), ", in percent: ", l9/len(hypo9))   # comparison of true hypothesis w/ total matches

1st hypothesis:  6 , Total matches:  7 , in percent:  0.8571428571428571

In [97]:
### Men's matches: (q1+q2+q3)/3 < q4, for the matches having a total score greater than 140, and total score difference between two teams between 0 and 10 at the end of quarter3
df_male = df[df['gender'] == 'M']     #selecting men's mathches
df_greater = df_male[df_male.iloc[:,3:9].sum(axis=1) > 128]   #selecting total of q1+q2+q3 > 115
df_between = df_greater[((df_greater.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df_greater.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(0,18)]
hypo9 = (df_between.iloc[:,3:9].sum(axis=1)/3)-5 < df_between.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l9 = hypo9.sum()    # sum of true hypothesis
print("1st hypothesis: ", l9, ", Total matches: ", len(hypo9), ", in percent: ", l9/len(hypo9))   # comparison of true hypothesis w/ total matches

1st hypothesis:  14 , Total matches:  17 , in percent:  0.8235294117647058