In [1]:
import pandas as pd

# The raw URL for your specific CSV file
url = 'https://raw.githubusercontent.com/mhmdparichehreh/basketball-scores/main/data/scores.csv'

# Read the CSV
df = pd.read_csv(url)

# Display the first 5 rows
df.head()

,ID,date,gender,team1q1,team2q1,team1q2,team2q2,team1q3,team2q3,team1q4,team2q4,team1tot,team2tot,type
0,1,09/12/2025,M,15,11,12,19,28,20,28,12,83,62,NaN
1,2,09/12/2025,F,20,12,13,17,16,19,10,10,59,58,NaN
2,3,10/12/2025,M,28,22,18,21,14,12,22,27,82,82,NaN
3,4,10/12/2025,F,19,10,18,17,24,26,18,18,79,71,NaN
4,5,10/12/2025,M,10,25,13,22,15,20,17,30,55,97,NaN

In [2]:
df

,ID,date,gender,team1q1,team2q1,team1q2,team2q2,team1q3,team2q3,team1q4,team2q4,team1tot,team2tot,type
0,1,09/12/2025,M,15,11,12,19,28,20,28,12,83,62,NaN
1,2,09/12/2025,F,20,12,13,17,16,19,10,10,59,58,NaN
2,3,10/12/2025,M,28,22,18,21,14,12,22,27,82,82,NaN
3,4,10/12/2025,F,19,10,18,17,24,26,18,18,79,71,NaN
4,5,10/12/2025,M,10,25,13,22,15,20,17,30,55,97,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,136,26/01/2026,M,17,18,17,28,23,21,19,5,76,72,argentina
135,137,26/01/2026,F,9,12,8,9,20,13,13,12,50,46,argentina
136,138,26/01/2026,M,31,18,15,24,27,18,25,27,98,87,argentina
137,139,26/01/2026,F,27,29,13,12,15,14,12,10,67,65,argentina
138,140,26/01/2026,F,13,23,14,14,23,13,24,13,74,63,argentina

In [23]:
### all the matches: (q1+q2+q3)/3 > q4
hypo1 = (df.iloc[:,3:9].sum(axis=1)/3) > df.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l1 = hypo1.sum()    # sum of true hypothesis
print("1st hypothesis: ", l1, "; Total matches: ", len(hypo1), ", in percent: ", l1/len(hypo1))   # comparison of true hypothesis w/ total matches

1st hypothesis:  65 ; Total matches:  139 , in percent:  0.4676258992805755

In [22]:
### women's matches: (q1+q2+q3)/3 > q4
df_female = df[df['gender'] == 'F']     #selecting women's mathches
hypo2 = (df_female.iloc[:,3:9].sum(axis=1)/3) > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l2 = hypo2.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l2, "; Total women's matches: ", len(hypo2), ", in percent: ", l2/len(hypo2))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  32 ; Total women's matches:  47 , in percent:  0.6808510638297872

In [20]:
### women's matches: q1,q2,q3/3 > q4, for the matches having a total score less than 130
df_under = df[df.iloc[:,3:9].sum(axis=1) < 130]   #selecting total of q1+q2+q3 <130
df_female = df_under[df_under['gender'] == 'F']     #selecting women's mathches
hypo3 = (df_female.iloc[:,3:9].sum(axis=1)/3) > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l3 = hypo3.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l3, "; Total women's matches: ", len(hypo3), ", in percent: ", l3/len(hypo3))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  28 ; Total women's matches:  42 , in percent:  0.6666666666666666

In [36]:
### women's matches: (q1,q2,q3/3) > q4, for the matches having total score difference between two teams between 10 and 50 at the end of quarter3
df_between = df[((df.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(10,50)]
df_female = df_between[df_between['gender'] == 'F']     #selecting women's mathches
hypo4 = (df_female.iloc[:,3:9].sum(axis=1)/3) > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l4 = hypo4.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l4, "; Total women's matches: ", len(hypo4), ", in percent: ", l4/len(hypo4))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  19 ; Total women's matches:  26 , in percent:  0.7307692307692307

In [42]:
### women's matches: (q1,q2,q3/3) > q4, for the matches having a total score less than 130, and total score difference between two teams between 9 and 50 at the end of quarter 3.
df_between = df[((df.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(10,50)]
df_under = df_between[df_between.iloc[:,3:9].sum(axis=1) < 120]   #selecting total of q1+q2+q3 <130
df_female = df_under[df_under['gender'] == 'F']     #selecting women's mathches
hypo5 = (df_female.iloc[:,3:9].sum(axis=1)/3) > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l5 = hypo5.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l5, "; Total women's matches: ", len(hypo5), ", in percent: ", l5/len(hypo5))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  11 ; Total women's matches:  16 , in percent:  0.6875

In [64]:
### women's matches: (q1,q2,q3/3) > q4, for the matches having total score difference between two teams between 10 and 50 at the end of quarter3, and avg(q3) > (avg(q2) and avg(q1))
q3_avg = df[['team1q3', 'team2q3']].mean(axis=1)
q2_avg = df[['team1q2', 'team2q2']].mean(axis=1)
q1_avg = df[['team1q1', 'team2q1']].mean(axis=1)
df_cond = df.loc[(q3_avg > q2_avg) & (q3_avg > q1_avg)]

df_between = df_cond[((df_cond.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df_cond.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(10,50)]
df_female = df_between[df_between['gender'] == 'F']     #selecting women's mathches
hypo4 = (df_female.iloc[:,3:9].sum(axis=1)/3) > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l4 = hypo4.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l4, "; Total women's matches: ", len(hypo4), ", in percent: ", l4/len(hypo4))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  5 ; Total women's matches:  8 , in percent:  0.625

In [59]:
q3_avg = df[['team1q3', 'team2q3']].mean(axis=1)
q2_avg = df[['team1q2', 'team2q2']].mean(axis=1)
q1_avg = df[['team1q1', 'team2q1']].mean(axis=1)

df.loc[(q3_avg > q2_avg) & (q3_avg > q1_avg)]

,ID,date,gender,team1q1,team2q1,team1q2,team2q2,team1q3,team2q3,team1q4,team2q4,team1tot,team2tot,type
0,1,09/12/2025,M,15,11,12,19,28,20,28,12,83,62,NaN
1,2,09/12/2025,F,20,12,13,17,16,19,10,10,59,58,NaN
3,4,10/12/2025,F,19,10,18,17,24,26,18,18,79,71,NaN
5,6,10/12/2025,F,17,14,7,14,22,18,24,8,70,54,NaN
8,9,10/12/2025,F,17,23,18,21,19,26,20,24,74,94,NaN
15,16,10/12/2025,M,17,16,20,12,19,17,14,19,70,64,NaN
18,19,10/12/2025,F,10,18,13,13,21,13,12,12,56,56,NaN
19,20,10/12/2025,M,16,16,18,18,26,16,26,22,86,72,NaN
23,24,10/12/2025,F,19,13,19,16,29,7,19,11,86,47,NaN
24,25,10/12/2025,F,14,22,14,28,12,36,13,28,53,114,NaN
30,31,25/01/2026,M,20,20,15,21,24,23,17,15,76,79,NaN
32,33,25/01/2026,M,16,19,23,20,24,22,15,19,78,80,NaN
42,43,25/01/2026,M,26,18,30,14,18,28,19,27,93,87,NaN
50,51,25/01/2026,M,21,19,13,19,24,18,15,23,73,79,NaN
52,53,25/01/2026,M,20,19,14,26,28,24,18,21,80,90,NaN
69,70,25/01/2026,F,18,21,21,10,33,19,26,13,98,63,NaN
73,74,25/01/2026,F,23,13,27,16,21,26,21,14,92,69,NaN
80,81,25/01/2026,M,21,21,24,10,21,23,23,23,89,77,NaN
81,82,25/01/2026,M,14,16,22,14,19,27,35,28,90,85,NaN
82,83,25/01/2026,F,26,8,15,20,19,17,26,19,86,64,NaN
83,84,25/01/2026,M,21,22,19,24,30,15,20,25,90,86,NaN
84,85,25/01/2026,F,15,29,18,32,24,27,10,31,67,119,NaN
85,86,25/01/2026,F,18,17,19,16,21,19,18,17,76,69,NaN
88,89,25/01/2026,F,18,10,15,17,20,20,10,12,63,59,NaN
92,93,25/01/2026,F,15,19,19,15,21,25,16,18,71,77,NaN
93,94,25/01/2026,F,15,11,14,30,25,21,15,18,69,80,NaN
100,101,25/01/2026,M,19,18,21,18,22,21,28,27,90,84,NaN
107,108,25/01/2026,M,23,21,16,21,28,19,19,18,86,79,NaN
108,109,25/01/2026,M,11,20,18,10,26,11,24,25,79,66,NaN
111,112,25/01/2026,M,12,21,25,17,28,16,17,20,82,74,NaN
121,122,25/01/2026,M,15,20,20,14,24,22,26,30,85,86,NaN
132,134,26/01/2026,M,20,24,17,24,25,21,30,19,92,88,NaN
133,135,26/01/2026,F,9,21,16,14,15,24,30,22,70,81,america
135,137,26/01/2026,F,9,12,8,9,20,13,13,12,50,46,argentina

In [56]:
df[['team1q3', 'team2q3']].mean(axis=1)

0      24.0
1      17.5
2      13.0
3      25.0
4      17.5
       ...
134    22.0
135    16.5
136    22.5
137    14.5
138    18.0
Length: 139, dtype: float64

In [28]:
### women's matches: quarter1<x
totScQ1 = 46    #set threshold score for quarter1
df_female = df[df['gender'] == 'F']     #selecting women's mathches
hypo6 = ((df_female.loc[:,['team1q1', 'team2q1']].sum(axis=1))<totScQ1).sum()   # number of matches w/ total score in quarter1 less than 46
print("2nd hypothesis: ", hypo6, "; Total women's matches: ", len(df_female), ", in percent: ", hypo6/len(df_female))   # comparison of true hypo of tot sc q1 less than 46 w/ total number of women's matches

2nd hypothesis:  39 ; Total women's matches:  47 , in percent:  0.8297872340425532

In [86]:
### men's matches: quarter1>x
totScQ1 = 32    #set threshold score for quarter1
df_female = df[df['gender'] == 'M']     #selecting men's mathches
hypo6 = ((df_female.loc[:,['team1q1', 'team2q1']].sum(axis=1)) > totScQ1).sum()   # number of matches w/ total score in quarter1 less than totScQ1
print("2nd hypothesis: ", hypo6, "; Total women's matches: ", len(df_female), ", in percent: ", hypo6/len(df_female))   # comparison of true hypo of tot sc q1 less than totScQ1 w/ total number of women's matches

2nd hypothesis:  78 ; Total women's matches:  92 , in percent:  0.8478260869565217

Now we go for greater than (total is greater than)

In [26]:
### all the matches: (q1+q2+q3)/3 < q4
hypo7 = (df.iloc[:,3:9].sum(axis=1)/3) < df.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l1 = hypo7.sum()    # sum of true hypothesis
print("1st hypothesis: ", l1, ", Total matches: ", len(hypo7), ", in percent: ", l1/len(hypo7))   # comparison of true hypothesis w/ total matches

1st hypothesis:  72 , Total matches:  139 , in percent:  0.5179856115107914

In [25]:
### Men's matches: (q1+q2+q3)/3 < q4
df_male = df[df['gender'] == 'M']     #selecting men's mathches
hypo8 = (df_male.iloc[:,3:9].sum(axis=1)/3) < df_male.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l8 = hypo8.sum()    # sum of true hypothesis
print("1st hypothesis: ", l8, ", Total matches: ", len(hypo8), ", in percent: ", l8/len(hypo8))   # comparison of true hypothesis w/ total matches

1st hypothesis:  57 , Total matches:  92 , in percent:  0.6195652173913043

In [11]:
### Men's matches: (q1+q2+q3)/3 < q4, for the matches having total score difference between two teams between 0 and 10 at the end of quarter3
df_male = df[df['gender'] == 'M']     #selecting men's mathches
df_between = df_male[((df_male.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df_male.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(0,9)]
hypo9 = (df_between.iloc[:,3:9].sum(axis=1)/3) < df_between.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l9 = hypo9.sum()    # sum of true hypothesis
print("1st hypothesis: ", l9, ", Total matches: ", len(hypo9), ", in percent: ", l9/len(hypo9))   # comparison of true hypothesis w/ total matches

1st hypothesis:  32 , Total matches:  54 , in percent:  0.5925925925925926

In [12]:
### Men's matches: (q1+q2+q3)/3 < q4, for the matches having a total score greater than 140
df_male = df[df['gender'] == 'M']     #selecting men's mathches
df_greater = df_male[df_male.iloc[:,3:9].sum(axis=1) > 139]   #selecting total of q1+q2+q3 > 140
hypo9 = (df_greater.iloc[:,3:9].sum(axis=1)/3) < df_greater.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l9 = hypo9.sum()    # sum of true hypothesis
print("1st hypothesis: ", l9, ", Total matches: ", len(hypo9), ", in percent: ", l9/len(hypo9))   # comparison of true hypothesis w/ total matches

1st hypothesis:  6 , Total matches:  7 , in percent:  0.8571428571428571

In [79]:
### Men's matches: (q1+q2+q3)/3 < q4, for the matches having a total score greater than 140, and total score difference between two teams between 0 and 10 at the end of quarter3
df_male = df[df['gender'] == 'M']     #selecting men's mathches
df_greater = df_male[df_male.iloc[:,3:9].sum(axis=1) > 130]   #selecting total of q1+q2+q3 > 115
df_between = df_greater[((df_greater.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df_greater.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(0,2)]
hypo9 = (df_between.iloc[:,3:9].sum(axis=1)/3) < df_between.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l9 = hypo9.sum()    # sum of true hypothesis
print("1st hypothesis: ", l9, ", Total matches: ", len(hypo9), ", in percent: ", l9/len(hypo9))   # comparison of true hypothesis w/ total matches

1st hypothesis:  0 , Total matches:  1 , in percent:  0.0

In [ ]:
### matches having an average score in first 3 quarters less than the 4th quarter, under this condition: Absolute total score difference between 2 teams between 0 and 5
df_male = df[df['gender'] == 'M']     #selecting men's mathches
df_between = df[((df.loc[:,['team1q1', 'team1q2', 'team1q3']].sum(axis=1) - df.loc[:,['team2q1', 'team2q2', 'team2q3']].sum(axis=1)).abs()).between(0,9)]
hypo9 = (df_between.iloc[:,3:9].sum(axis=1)/3) < df_between.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 < total scores of quarter4
l9 = hypo9.sum()    # sum of true hypothesis
print("1st hypothesis: ", l9, ", Total matches: ", len(hypo9), ", in percent: ", l9/len(hypo9))   # comparison of true hypothesis w/ total matches

In [71]:
### Women's matches: (q1,q2,q3/3) > q4, and avg(q3) > (avg(q2) and avg(q1))
q3_avg = df[['team1q3', 'team2q3']].mean(axis=1)
q2_avg = df[['team1q2', 'team2q2']].mean(axis=1)
q1_avg = df[['team1q1', 'team2q1']].mean(axis=1)
df_cond = df.loc[(q3_avg > q2_avg) & (q3_avg > q1_avg)]

df_female = df_cond[df_cond['gender'] == 'F']     #selecting women's mathches
hypo4 = (df_female.iloc[:,3:9].sum(axis=1)/3)+ > df_female.iloc[:,9:11].sum(axis=1)   # hypo1 = (total scores of quarter1, quarter2 and quarter3)/3 > total scores of quarter4
l4 = hypo4.sum()    # sum of true hypothesis
print("2nd hypothesis: ", l4, "; Total women's matches: ", len(hypo4), ", in percent: ", l4/len(hypo4))   # comparison of true hypothesis w/ total women's matches

2nd hypothesis:  12 ; Total women's matches:  17 , in percent:  0.7058823529411765